In [ ]:
#1 Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.
def sum_even_numbers(numbers):
    sum = 0
    for num in numbers:
        if num % 2 == 0:
            sum += num
    return sum
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(sum_even_numbers(my_list))

30

In [ ]:
# 2 Create a Python function that accepts a string and returns the reverse of that string
def reverse_string(string):
    return string[::-1]
my_string = "Hello, World!"

print(reverse_string(my_string))

!dlroW ,olleH

In [7]:
# 3 Implement a Python function that takes a list of integers and returns a new list containing the squares of each number
def square_numbers(numbers):
    squares = []
    for num in numbers:
        squares.append(num ** 2)
    return squares
my_list = [1, 2, 3, 4, 5]

print(square_numbers(my_list))

[1, 4, 9, 16, 25]

In [ ]:
#4  Write a Python function that checks if a given number is prime or not from 1 to 200
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True
for num in range (1,201):
   if is_prime(num):
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [ ]:
#5 Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms ?
class FibonacciIterator:
    def __init__(self, n):
        self.n = n
        self.a = 0
        self.b = 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count < self.n:
            result = self.a
            self.a, self.b = self.b, self.a + self.b
            self.count += 1
            return result
        else:
            raise StopIteration

fib_iterator = FibonacciIterator(10)
for num in fib_iterator:
    print(num)

0
1
1
2
3
5
8
13
21
34

In [ ]:
#6 Write a generator function in Python that yields the powers of 2 up to a given exponent
def powers_of_2(exponent):
    for i in range(exponent + 1):
        yield 2 ** i
for power in powers_of_2(5):
    print(power)

1
2
4
8
16
32

In [3]:
# 7 Implement a generator function that reads a file line by line and yields each line as a string
def read_file_lines(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line
file_path = 'example.txt'
# Create the file and write some content
with open(file_path, 'w') as f:
    f.write('This is the first line.\n')
    f.write('This is the second line.\n')
    f.write('This is the third line.\n')
for line in read_file_lines(file_path):
    print(line.strip())

This is the first line.
This is the second line.
This is the third line.

In [ ]:
#8 Use a lambda function in Python to sort a list of tuples based on the second element of each tuple
data = [(1,3),(2,2),(3,1),(4,4),(5,5)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(3, 1), (2, 2), (1, 3), (4, 4), (5, 5)]

In [ ]:
#9 Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit
# Celsius to Fahrenheit formula: F = (C Ã— 9/5) + 32

celsius = [0, 10, 20, 30, 40]

fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))

print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
#10 Create a Python program that uses `filter()` to remove all the vowels from a given string
def remove_vowels(string):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda x: x not in vowels, string))
input_string = "Hello World"
result = remove_vowels(input_string)
print(result)

Hll Wrld

In [ ]:
#11
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "EinfÃ¼hrung in Python3, Bernd Klein", 3, 24.99]
]
result = list(map(lambda order: (
    order[0],
    round(order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0), 2)
), orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]